<div role="main" class="hero hero-xcaret" >
    <div class="container">
      <div class="row row1 xcaret_row">
        <h1 class="xcaret_text xcaret_title"> {{ g.site_title }}</h1>
        <h1 class="xcaret_text xcaret_description"> {{ g.site_description }}</h1>
        {% block search %}
          {% snippet 'home/snippets/xcaret_search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div role="main">
    <div class="container">
      <div class="row row2">
        <div class="col">
          {% block featured_organization %}
            {% snippet 'home/snippets/all_organizations.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
    
    <div class="page_primary_action page_primary_action-btn">
      <a class="btn btn-primary xcaret-btn-homepage" href="{{ h.url_for('dataset.search') }}"> {{_('View all Datasets')}} <i class="fa fa-lg fa-eye"></i> </a>
    </div>
  </div>

  <div role="blogs">
    <div class="container">
      <div class="row row2">
        <h1 class="xcaret_text_blue"> {{_('Blogs') }}</h1>
        {% block featured_group %}
          {% snippet 'home/snippets/latest_pages.html' %}
        {% endblock %}
      </div>
    </div>

    <div class="page_primary_action page_primary_action-btn">
      <a class="btn btn-primary xcaret-btn-homepage" href="{{ h.url_for('pages.blog_index') }}"> {{ _('View more')}} </a>
    </div>      
  </div>

  <div role="main">
    <div class="container">
      <h1 class="xcaret_text_blue"> {{_('Latest datasets') }}</h1>

        <div class="col col-xcaret-dataset">
        {% block featured_dataset %}
            {% snippet 'home/snippets/latest_datasets.html' %}
          {% endblock %}
        </div>
    </div>
    <div class="page_primary_action page_primary_action-btn">
      <a class="btn btn-primary xcaret-btn-homepage" href="{{ h.url_for('dataset.search') }}">  {{_('View all Datasets')}} <i class="fa fa-lg fa-eye"></i> </a>
    </div>      
  </div>