{% set pages = h.featured_pages(3) %}
{% set pages_total = pages|length %}
{% set editor = h.get_wysiwyg_editor() %}

<div class="col col-xcaret-dataset">
  {% if pages_total > 0 %}
    {% for page in pages %}
      {% set url = h.url_for('pages.blog_show', page=page.name) %}
      <div class="card media-item-xcaret">
        <img class="card-img-top img-responsive media-image media-item-xcaret-img" src="{{ page.image or h.url_for_static('/base/images/no-picture.jpg')}}" alt="">
        <div class="card-body ">
          <a href={{url}}><p class="card-text media-heading xcaret_pages_title">{{ page.title|truncate(30, True, '...') }}</p></a>
        </div>
      </div>
    {% endfor %}
  {% else %}
      <p>_('No Blogs found')</p>
  {% endif %}
  </div>