{% set url=h.url_for(controller='dataset', action='read', id=package.name) %}
{% set truncate=truncate or 0 %}
{% block organization_item %}
<i class=" fa fa-solid fa-circle-small"></i>
  <section class="group-list module module-narrow module-shallow">
    {% block organization_item_header %}
    {% block organization_item_header_image %}
    <i class=" fa fa-solid fa-circle i-data"></i>
    <h1 class="h1-data"> {{_('DATASET')}} </h1>
    {% endblock %}
      <header class="module-heading">
        {% block organization_item_header_title %}
          <h3 class="media-heading"><a class="media-heding-a" href={{ url }}>{{ package.title or package.name }}</a></h3>
        {% endblock %}
        {% block organization_item_header_description %}
          {% if package.notes %}
            {% if truncate == 0 %}
              <p class="xcaret-desc">{{ h.markdown_extract(package.notes)|urlize }}</p>
            {% else %}
              <p class="xcaret-desc">{{ h.markdown_extract(package.notes, truncate)|urlize }}</p>
            {% endif %}
          {% endif %}
        {% endblock %}
      </header>
    {% endblock %}
  </section>
{% endblock %}

