{% set current_lang = request.environ.CKAN_LANG %}

<footer class="site-footer-extra">
  <div class="container">
    <div class="row">
      {% if current_lang == 'es' %}
        {% if g.footer_links_name_1 %}
          <div class="col col-md-2 footer-extra col-md-4">
            <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_1) }} </h2> <hr>
            {% if g.footer_links_1 %}
              {{ h.render_markdown(g.footer_links_1) }}
            {% endif %}
          </div>
        {% endif %}

        {% if g.footer_links_name_2 %}
        <div class="col col-md-2 footer-extra col-md-4">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_2) }} </h2> <hr>
          {% if g.footer_links_2 %}
            {{ h.render_markdown(g.footer_links_2) }}
          {% endif %}          
        </div>
        {% endif %}

        {% if g.footer_links_name_3 %}
        <div class="col col-md-2 footer-extra col-md-4">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_3) }} </h2> <hr>
          {% if g.footer_links_3 %}
            {{ h.render_markdown(g.footer_links_3) }}
          {% endif %}
        </div>
        {% endif %}

        {% if g.footer_links_name_4 %}
        <div class="col col-md-2 footer-extra col-md-4">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_4) }} </h2> <hr>
          {% if g.footer_links_4 %}
            {{ h.render_markdown(g.footer_links_4) }}
          {% endif %}
        </div>
        {% endif %}

        {% if g.footer_links_name_5 %}
        <div class="col col-md-2 footer-extra col-md-4">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_5) }} </h2> <hr>
          {% if g.footer_links_5 %}
            {{ h.render_markdown(g.footer_links_5) }}
          {% endif %}
        </div>
        {% endif %}

      {% else %}
        {% if g.footer_links_name_1_en %}
        <div class="col col-md-2 footer-extra col-md-4">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_1_en) }} </h2> <hr>
          {% if g.footer_links_1_en %}
            {{ h.render_markdown(g.footer_links_1_en) }}
          {% endif %}
        </div>
        {% endif %}

        {% if g.footer_links_name_2_en %}
        <div class="col col-md-2 footer-extra col-md-4">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_2_en) }} </h2> <hr>
          {% if g.footer_links_2_en %}
            {{ h.render_markdown(g.footer_links_2_en) }}
          {% endif %}
        </div>
        {% endif %}

        {% if g.footer_links_name_3_en %}
        <div class="col col-md-2 footer-extra">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_3_en) }} </h2> <hr>
          {% if g.footer_links_3_en %}
            {{ h.render_markdown(g.footer_links_3_en) }}
          {% endif %}
        </div>
        {% endif %}

        {% if g.footer_links_name_4_en %}
        <div class="col col-md-2 footer-extra">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_4_en) }} </h2> <hr>
          {% if g.footer_links_4_en %}
            {{ h.render_markdown(g.footer_links_4_en) }}
          {% endif %}
        </div>
        {% endif %}

        {% if g.footer_links_name_5_en %}
        <div class="col col-md-2 footer-extra">
          <h2 class="footer-extra-title">{{ h.render_markdown(g.footer_links_name_5_en) }} </h2> <hr>
          {% if g.footer_links_5_en %}
            {{ h.render_markdown(g.footer_links_5_en) }}
          {% endif %}
        </div>
        {% endif %}
    {% endif %}
    </div>
  </div>
</footer>

<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row">
          {% block footer_nav %}
            <div class="col-md-1 footer-links footer-links-logo">
              <ul class="list-unstyled footer-nav-logo">
                {% block footer_links %}
                  <img class="footer-links-img" src="{{ h.url_for_static('/base/images/logo-xcaret-w.png')}}" alt="">
                {% endblock %}
              </ul>
            </div>

            <div class="col-md-5 footer-links footer-links-text">
              <ul class="list-unstyled footer-links-pages">
                {% block footer_links_pages %}
                  <li><a href="{{ g.terms_of_use }}">{{ _('Terms of use') }}</a></li>
                  <li><a href="{{g.sitemap}}">{{ _('Sitemap') }}</a></li>
                  <li><a href="{{g.privacy}}">{{ _('Privacy Notice') }}</a></li>
                {% endblock %}
              </ul>
              <ul class="list-unstyled footer-links-address">
                {% block footer_address %}
                  <p>Xcaret - México, Carretera Chetumal - Puerto Juárez km 282 Int. B Colonia Rancho Xcaret,Playa del Carmen,998-883-3143,Quintana Roo.México.CP 77580.</p>
                  <p>Teléfono Cancún: 998-883-3143www.xcaret.com/es/Abierto de Lunes a viernes de 7:00 a.m. a 12:00 a.m. | Sábados y domingos de 7:00 a.m. a 10:00 p.m.</p>
                  <p>©Copyright 2020 Experiencias Xcaret Parques, S.A.P.I. de C.V 2022 undefined</p>
                {% endblock %}
              </ul>            
            </div>
          {% endblock %}

          <div class="col-md-5 attribution col-sm-12">
            {% block footer_attribution %}
              <img class="footer_attribution_image img-responsive" src="{{ h.url_for_static('/base/images/reconocimientos_es.png')}}" alt="">
            {% endblock %}
          </div>
      </div>
      {% endblock %}
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>