{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

  {{ form.errors(error_summary) }}

  <form method='post' action="" id="admin-config-form" enctype="multipart/form-data">
  {% block admin_form %}
    {{ form.input('ckan.site_title', id='field-ckan-site-title', label=_('Site Title'), value=data['ckan.site_title'], error=error, classes=['control-medium']) }}

    {{ form.select('ckan.main_css', id='field-ckan-main-css', label=_('Style'), options=styles, selected=data['ckan.main_css'], error=error) }}

    {{ form.input('ckan.site_description', id='field-ckan-site-description', label=_('Site Tag Line'), value=data['ckan.site_description'], error=error, classes=['control-medium']) }}

    {% set field_url = 'ckan.site_logo' %}
    {% set is_upload = data[field_url] and not data[field_url].startswith('http') %}
    {% set is_url = data[field_url] and data[field_url].startswith('http') %}
    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label = _('Site logo'), url_label=_('Site logo'),  field_url=field_url, field_upload='logo_upload', field_clear='clear_logo_upload' )}}

    {{ form.markdown('ckan.site_about', id='field-ckan-site-about', label=_('About'), value=data['ckan.site_about'], error=error, placeholder=_('About page text')) }}

    {{ form.markdown('ckan.site_intro_text', id='field-ckan-site-intro-text', label=_('Intro Text'), value=data['ckan.site_intro_text'], error=error, placeholder=_('Text on home page')) }}

    {{ form.textarea('ckan.site_custom_css', id='field-ckan-site-custom-css', label=_('Custom CSS'), value=data['ckan.site_custom_css'], error=error, placeholder=_('Customisable css inserted into the page header')) }}

    {{ form.select('ckan.homepage_style', id='field-homepage-style', label=_('Homepage'), options=homepages, selected=data['ckan.homepage_style'], error=error) }}
    
    {% set warning = _('The following section only works if XCaret theme is selected. Otherwise the values are not shown') %}
    <label>{{warning}}</label></br>

    {{ form.input('ckan.footer_links_name_1', 'field_ckan_footer_links_name_1', label=_('Footer Links Section Name'), value=data['ckan.footer_links_name_1'], error=error, placeholder=_('Name of the first section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_1', 'field_ckan_footer_links_1', label=_('Footer Links'), value=data['ckan.footer_links_1'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}
    {{ form.input('ckan.footer_links_name_1_en', 'field_ckan_footer_links_name_1_en', label=_('English Footer Links Section Name'), value=data['ckan.footer_links_name_1_en'], error=error, placeholder=_('Name of the first section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_1_en', 'field_ckan_footer_links_1_en', label=_('English Footer Links'), value=data['ckan.footer_links_1_en'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}    

    {{ form.input('ckan.footer_links_name_2', 'field_ckan_footer_links_name_2', label=_('Footer Links Section Name'), value=data['ckan.footer_links_name_2'], error=error, placeholder=_('Name of the second section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_2', 'field_ckan_footer_links_2', label=_('Footer Links'), value=data['ckan.footer_links_2'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}
    {{ form.input('ckan.footer_links_name_2_en', 'field_ckan_footer_links_name_2_en', label=_('English Footer Links Section Name'), value=data['ckan.footer_links_name_2_en'], error=error, placeholder=_('Name of the first section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_2_en', 'field_ckan_footer_links_2_en', label=_('English Footer Links'), value=data['ckan.footer_links_2_en'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}        

    {{ form.input('ckan.footer_links_name_3', 'field_ckan_footer_links_name_3', label=_('Footer Links Section Name'), value=data['ckan.footer_links_name_3'], error=error, placeholder=_('Name of the third section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_3', 'field_ckan_footer_links_3', label=_('Footer Links'), value=data['ckan.footer_links_3'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}
    {{ form.input('ckan.footer_links_name_3_en', 'field_ckan_footer_links_name_3_en', label=_('English Footer Links Section Name'), value=data['ckan.footer_links_name_3_en'], error=error, placeholder=_('Name of the first section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_3_en', 'field_ckan_footer_links_3_en', label=_('English Footer Links'), value=data['ckan.footer_links_3_en'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}    

    {{ form.input('ckan.footer_links_name_4', 'field_ckan_footer_links_name_4', label=_('Footer Links Section Name'), value=data['ckan.footer_links_name_4'], error=error, placeholder=_('Name of the forth section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_4', 'field_ckan_footer_links_4', label=_('Footer Links'), value=data['ckan.footer_links_4'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}
    {{ form.input('ckan.footer_links_name_4_en', 'field_ckan_footer_links_name_4_en', label=_('English Footer Links Section Name'), value=data['ckan.footer_links_name_4_en'], error=error, placeholder=_('Name of the first section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_4_en', 'field_ckan_footer_links_4_en', label=_('English Footer Links'), value=data['ckan.footer_links_4_en'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}

    {{ form.input('ckan.footer_links_name_5', 'field_ckan_footer_links_name_5', label=_('Footer Links Section Name'), value=data['ckan.footer_links_name_5'], error=error, placeholder=_('Name of the fifth section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_5', 'field_ckan_footer_links_5', label=_('Footer Links'), value=data['ckan.footer_links_5'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}
    {{ form.input('ckan.footer_links_name_5_en', 'field_ckan_footer_links_name_5_en', label=_('English Footer Links Section Name'), value=data['ckan.footer_links_name_5_en'], error=error, placeholder=_('Name of the first section'), classes=['control-full']) }}
    {{ form.markdown('ckan.footer_links_5_en', 'field_ckan_footer_links_5_en', label=_('English Footer Links'), value=data['ckan.footer_links_5_en'], error=error, placeholder=_('Enter a list of links - one per line - to be shown as a list withing the secondary footer navigation. Please format the links with Markdown (i.e. * [Example link](https://www.example.com)).'), classes=['control-full']) }}    
    

  {% endblock %}

  <div class="form-actions">
    <a href="{% url_for 'admin.reset_config' %}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to reset the config?') }}">{{ _('Reset') }}</a>
    <button type="submit" class="btn btn-primary" name="save">{{ _('Update Config') }}</button>
  </div>
</form>
{% endblock %}